<footer class="bg-custom text-white  py-4">
  <div class="container">


          <div class="d-flex justify-content-center align-items-center flex-column">
            <h2 class="">handi<span class="text-black">Q<span class="text-danger">.</span></span></h2>
            <p>&copy; 2025 handiQ. All Rights Reserved.</p>
            <div class="d-flex justify-content-center gap-3 align-items-center mt-2">
              <i class="fa-brands fa-google fs-4"></i>
              <i class="fa-brands fa-facebook fs-4 mx-4"></i>
              <i class="fa-brands fa-apple fs-3"></i>
            </div>
        </div>
      </div>

</footer>
