<div class="container min-vh-100 d-flex align-items-end justify-content-center ">
  <div class="row w-100 ">
    <!-- Left Part -->
    <div class="col-md-6 d-flex flex-column align-items-center left-part justify-content-center text-center p-5 from-left">
      <h2 >Welcome to <br> <span class="fw-bold">HandiQ!</span></h2>
      <div class="img-container">
        <img src="assets/images/sign.jpg" alt="Handmade IMAGE" class="img-fluid mt-4" style="max-width: 300px;">
      </div>
    </div>

    <!-- Right Part(Form) -->
    <div class="col-md-6  p-5  reveal">
      <h3 class="fw-bolder h2 mb-4 text-center">Create Account<span class="text-primary fs-2">.</span></h3>

      <form>
        <!-- Email -->
        <div class="mb-3">
          <label class="form-label text-secondary fw-bold">Email</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
            <input type="email" class="form-control" placeholder="email@gmail.com" required>
          </div>
        </div>

          <!-- Phone -->
          <div class="mb-3">
            <label class="form-label text-secondary fw-bold">Phone no</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-phone"></i></span>
              <input type="text" class="form-control" placeholder="Enter your phone no">
            </div>
          </div>


        <!-- Password -->
        <div class="mb-3">
          <label class="form-label text-secondary fw-bold">Password</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            <input type="password" class="form-control" placeholder="Enter your password">
          </div>
        </div>

      <!-- Login Button -->
        <button type="submit" class="text-white fw-bold border-0 p-2 w-100">Create Account</button>

        <div class="text-center my-3 text-secondary">- or -</div>

        <!-- Login Link-->
        <p class="text-center text-secondary mb-4">Already have an account? <a class="text-primary fw-bold text-decoration-none" routerLink="/login" >Sign in</a></p>

      <!-- Icons -->
        <div class="d-flex justify-content-center gap-3 align-items-center">
          <i class="fa-brands fa-google fs-4"></i>
          <i class="fa-brands fa-facebook fs-4 mx-4"></i>
          <i class="fa-brands fa-apple fs-3"></i>
        </div>
      </form>
    </div>
</div>
</div>
