@if (showLinks) {
  <nav class="navbar navbar-expand-lg position-fixed w-100 top-0 z-3 bg-body-tertiary" style="  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082);">
    <div class="container">
      <div class="">
        <h2 class="mt-0" style="color: #5C748C;">handi<span class="text-black">Q<span class="text-danger">.</span></span></h2>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav bg-body-tertiary d-flex justify-content-center align-items-center mx-auto">
          <li class="nav-item me-3">
            <a class="nav-link text-dark  active" aria-current="page" routerLink="home"  routerLinkActive="btn-primary">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-dark " routerLink="ourProduct"  routerLinkActive="btn-primary">Our Products</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-dark" routerLink="give" routerLinkActive="btn-primary">Give&Get</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-dark " routerLink="about" routerLinkActive="btn-primary">About</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link text-dark " routerLink="workshops" routerLinkActive="btn-primary"> WorkShops</a>
          </li>
        </ul>
        <div class="m-md-auto  ">
          <ul class="navbar-nav bg-body-tertiary text-center d-flex flex-row justify-content-center p-2">
            <li><i class="me-2" routerLink="fav" routerLinkActive="text-danger" class="fa-solid  fa-heart-circle-plus fa-xl"></i></li>
          <a routerLink="cart"  class="me-2"><i routerLinkActive="text-black " class="fa-solid fa-cart-plus fa-xl"></i></a>
            <li>
          <a routerLink="chat" ><i routerLinkActive="text-primary"  class="fa-brands fa-rocketchat fa-xl"></i></a>
            </li>
            <li>
          <a routerLink="login" class="ms-2"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </nav>

}@else {
  <nav class="navbar navbar-expand-lg navbar-light  px-5 fixed-top mb-5" style="  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082);">
    <h2 class="mt-0">handi<span class="text-black">Q<span class="text-danger">.</span></span></h2>
    <div class="ms-auto d-flex align-items-center justify-content-around  w-25">
      <ul class="navbar-nav ">
        <li class="nav-item"><a role="button" routerLink="signup"  routerLinkActive="btn-primary" class=" nav-link text-dark text-decoration-none fw-bolder  me-2 " >SignUp</a>
        </li>
        <li class="nav-item">
      <a role="button" routerLink="login" routerLinkActive="btn-primary"  class=" nav-link text-dark text-decoration-none fw-bolder me-2" > SignIN</a>
       </li>
      </ul>
   </div>
  </nav>
}


