<div class="container about mt-5 pt-5">
  <div class="row">
    <div class="col-lg-6 from-left">
      <div>
        <h2 class="fw-bold h1">About Us</h2>
        <p class="fw-medium text-secondary">
          The Harmony Inside That You’ll Feel...
        </p>
        <p class="fw-medium">
          At HandiQ, we believe in the power of creativity, community, and
          conscious living. What started as a small idea turned into a
          passion-driven business that brings more than just handmade products —
          it brings purpose.
        </p>

        <p class="fw-medium">
          We’re a small team with a big heart, dedicated to crafting unique,
          high-quality pieces while making a difference. HandiQ empowers
          talented women artisans, providing them with fair job opportunities
          and a sustainable source of income. Every product you see is the
          result of skilled hands, creative minds, and stories worth telling.
        </p>

        <p class="fw-medium">
          We also care deeply about the planet. That’s why we focus on recycling
          materials like cotton and other handmade essentials, turning them into
          beautiful, one-of-a-kind creations that you can feel proud to own.
        </p>

        <p class="fw-medium">
          When you choose HandiQ, you’re not just buying a product — you’re
          supporting a dream, a community, and a more sustainable future.
        </p>

        <p class="fw-medium">
          Handmade with care. Crafted with purpose.
        </p>
      </div>
    </div>

    <div class="col-lg-6 from-right ">
      <div class="img-container">
        <img src="assets/images/about.jpg" class="w-100" alt="aboutUs image" />
      </div>
    </div>
  </div>
</div>
