.wishlist-item:hover {
  background-color: #f8f9fa;
  transform: scale(1.02);
}
.wishlist-item{
  transition: all .4s;
}
.btn-custom {
  background-color: #5C748C;
}
.btn-custom:hover {
  background-color: #495A6E;
}
.wishlist-heart {
  color: #dc3545;
  cursor: pointer;
}
.wishlist-heart:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}
