<main class="mt-5 mb-5  bg-light">
  <div class="container">
    <h2 class="text-center pt-5 fw-bold mb-4" style="color: #5C748C;">Wishlist<span class="text-danger">.</span></h2>
    <div class="row g-3">
        <div class="col-6 col-md-4">
            <div class="wishlist-item card p-3">
              <img src="assets/images/section21.jpg" alt="Wishlist Item 2" class="w-100 rounded-4">
                <div class="mt-3">
                    <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
                    <p class="text-body-tertiary">Color: Blue</p>
                    <p class="text-body-tertiary">Price: $10.00</p>
                    <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="wishlist-item card p-3">
                <img src="assets/images/section21.jpg" alt="Wishlist Item 2" class="w-100 rounded-4">
                <div class="mt-3">
                    <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 2</h6>
                    <p class="text-body-tertiary">Color: Red</p>
                    <p class="text-body-tertiary">Price: $15.00</p>
                    <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="wishlist-item card p-3">
            <img src="assets/images/section21.jpg" alt="Wishlist Item 2" class="w-100 rounded-4">
              <div class="mt-3">
                  <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
                  <p class="text-body-tertiary">Color: Blue</p>
                  <p class="text-body-tertiary">Price: $10.00</p>
                  <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
              </div>
          </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="wishlist-item card p-3">
          <img src="assets/images/section21.jpg" alt="Wishlist Item 2" class="w-100 rounded-4">
            <div class="mt-3">
                <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
                <p class="text-body-tertiary">Color: Blue</p>
                <p class="text-body-tertiary">Price: $10.00</p>
                <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
            </div>
        </div>
    </div>
    </div>
</div>
</main>
